
<!-- <h1>TESTSTSSSSSSSSSSSSSSSSTTSTSTTSTTSTTSTTSTTSTTSTst</h1> -->
<div class="container">
    <table class="table" cellspacing="2"  cellborder="5" style="margin-left: 50px; width: 50%;">
        <thead>
            <tr>
                <th>name</th>
                <th>rollno</th>
                <th>course</th>
                
            </tr>
        
        </thead>
        <!-- <tbody>
            <tr>
                <td>sony</td>
                <td>12</td>
                <td>btech</td>
                
            </tr>
            <tr>
                <td>rony</td>
                <td>123</td>
                <td>mtech</td>
                
            </tr>
            <tr>
                <td>Dipti</td>
                <td>124</td>
                <td>MCA</td>
                
            </tr>
            <tr>
                <td>swati</td>
                <td>125</td>
                <td>BBA</td>
                
            </tr>
            <tr>
                <td>jyoti</td>
                <td>126</td>
                <td>MBA</td>
                
            </tr>
            <tr>
                <td>sami</td>
                <td>127</td>
                <td></td>
                
            </tr> 
        </tbody>-->
    </table>
</div>
    